# Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. 
Django==4.1 # Django 4.1 supports PostgreSQL 11 and higher. (The database server only supports PostgresQL 11)

# for django model column type file
Pillow==9.5.0

# Log in and work on behalf of other users without having to know their credentials.
django-hijack==3.4.5

# django-cas-ng is Django CAS (Central Authentication Service) 1.0/2.0/3.0 client library to support SSO (Single Sign On) and Single Logout (SLO).
django-cas-ng==5.0.1

#PyJWT is a Python library which allows you to encode and decode JSON Web Tokens (JWT). JWT is an open, industry-standard (RFC 7519) for representing claims securely between two parties.
PyJWT==2.6.0

python-decouple==3.8 # to read .env file files
psycopg2==2.9.6 # production for postgresql database
mysqlclient==2.1.1 # development for mysql database


django-crispy-forms==2.0
crispy-bootstrap4==2022.1