{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<base href="../" />

<title>{{ APP_SHORT_NAME }}</title>

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'focus2/images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'focus2/vendor/owl-carousel/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'focus2/vendor/owl-carousel/css/owl.theme.default.min.css' %}">
<link href="{% static 'focus2/vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">

<!-- Datatable -->
<link href="{% static 'focus2/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="{% static 'focus2/css/style.css' %}" rel="stylesheet">

{% comment %} <script src="{% static 'focus2/vendor/sweetalert2/dist/sweetalert2.min.css' %}"></script> {% endcomment %}