{% extends 'adminpage/layout/base.html' %}
{% load adminpage_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row page-titles mx-0">

      <div class="col-sm-6 p-md-0">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Karyawan</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0)">Daftar</a></li>
          </ol>
      </div>
  </div>
  <!-- row -->


  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Daftar Karyawan</h4>
                  <div class="d-flex justify-content-end">
                      <a href="{% url 'pendampingan:admin_karyawan_sinkron' %}" class="btn btn-success btn-rounded mr-2">
                        <i class="fa fa-refresh"></i> Sinkron
                      </a>
    
                      {% comment %} <a href="{% url 'pendampingan:admin_karyawan_add' %}" class="btn btn-primary btn-rounded">
                        <i class="fa fa-plus"></i> Tambah
                      </a> {% endcomment %}
                  </div>                  
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table id="datatable" class="display" style="min-width: 845px">
                          <thead>
                              <tr>
                                  <th>Nomor</th>
                                  <th>Uniid</th>
                                  <th>Nama</th>
                                  <th>Aktif</th>
                                  <th>Homebase</th>
                              </tr>
                          </thead>
                          <tbody class="text-dark">
                            {% for data in datakaryawan %}                            
                              <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{data.user.username}}</td>
                                  <td>{{data.namabergelar}}</td>
                                  <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"  id="is_active-{{data.id}}" {% if data.is_active %}checked{% endif %} onclick="nonAktifkanKaryawan(this)">                                        
                                    </div>                                    
                                  </td>
                                  <td>{{data.namahomebase}}</td>                                                                    
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}


{% block javascript %}

<script>
(function($) {
    "use strict"
    //example 1
    var table = $('#datatable').DataTable({
        createdRow: function ( row, data, index ) {
           $(row).addClass('selected')
        } 
    });
      
    table.on('click', 'tbody tr', function() {
    var $row = table.row(this).nodes().to$();
    var hasClass = $row.hasClass('selected');
    if (hasClass) {
        $row.removeClass('selected')
    } else {
        $row.addClass('selected')
    }
    })
    
    table.rows().every(function() {
    this.nodes().to$().removeClass('selected')
    });
      
})(jQuery);  



function nonAktifkanKaryawan(el) {
    id = el.id.split('is_active-')[1]

    if($(`#${el.id}`).is(":checked")){
        is_checked = true
    }else {
        is_checked = false
    }
        
    $.ajax({
        url: `/adminpage/pendampingan/admin/karyawan/${id}/active_checked_json/`,
        type: 'POST',        
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        },        
        data: JSON.stringify({          
          "is_checked": is_checked
        }),        
        dataType: 'json',
        contentType: 'application/json',
        success: function(response) {            
        },
        error: function(xhr, status, error) {
            // Handle error
        }
    });          
}

</script>

{% endblock %}