{% extends 'adminpage/layout/base.html' %}
{% load adminpage_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row page-titles mx-0">

      <div class="col-sm-6 p-md-0">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Kurikulum</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0)">{{title_text}}</a></li>
          </ol>
      </div>
  </div>
  <!-- row -->


  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">{{title_text}} Kurikulum</h4>                  
              </div>
              <div class="card-body">
                <form action="" method="post">

                  {% csrf_token %}
  
                  {{kurikulumform|crispy}}
  
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-warning mr-2" type="button" onclick="window.history.back();"><i class="fa fa-angle-left mr-1"></i> Cancel</button>
  
                    <button class="btn btn-primary mr-2" type="submit">
                      <i class="fa fa-check mr-1"></i>
                      Submit
                    </button>

                  </div>     

                </form>

              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}


{% block javascript %}

<script>
</script>

{% endblock %}