{% extends 'adminpage/layout/base.html' %}
{% load adminpage_tags %}

{% block content %}

<div class="container-fluid">
  <div class="row page-titles mx-0">

      <div class="col-sm-6 p-md-0">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Kurikulum</a></li>
              <li class="breadcrumb-item active"><a href="javascript:void(0)">Daftar</a></li>
          </ol>
      </div>
  </div>
  <!-- row -->


  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Daftar Kurikulum</h4>
                  <div class="d-flex justify-content-end">
                      <a href="{% url 'pendampingan:admin_kurikulum_add' %}" class="btn btn-primary btn-rounded mr-2">
                        <i class="fa fa-plus"></i> Tambah
                      </a>                          
                  </div>                  
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table id="datatable" class="display" style="min-width: 845px">
                          <thead>
                              <tr>
                                  <th>Nomor</th>
                                  <th>Tahun Kurikulum</th>                                  
                                  <th>Aktif</th>
                                  <th>Aksi</th>                    
                              </tr>
                          </thead>
                          <tbody class="text-dark">
                            {% for data in datakurikulum %}                            
                              <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>{{data.tahun}}</td>                                  
                                  <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="is_active"  value="{{data.id}}" {% if data.is_active %}checked{% endif %} onclick="aktifkanKurikulum(this)">
                                    </div>                                    
                                  </td>
                                  <td class="d-flex justify-content-left">
                                    
                                        <a title="daftar mata kuliah kurikulum" href="{% url 'pendampingan:admin_matakuliah_table' kurikulum_id=data.id %}" class="btn btn-rounded btn-outline-secondary m-1"><i class="fa fa-book"></i></a>
                                        <form action="{% url 'pendampingan:admin_kurikulum_delete' id=data.id %}" method="post" id="form_delete_{{data.id}}">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete" value="delete">
                                            <button title="hapus" type="button" class="btn btn-rounded btn-outline-danger m-1" onclick="confirmDelete('form_delete_{{data.id}}')"><i class="fa fa-trash"></i></button>
                                        </form>
                                    

                                  </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}


{% block javascript %}

<script>
(function($) {
    "use strict"
    //example 1
    var table = $('#datatable').DataTable({
        createdRow: function ( row, data, index ) {
           $(row).addClass('selected')
        } 
    });
      
    table.on('click', 'tbody tr', function() {
    var $row = table.row(this).nodes().to$();
    var hasClass = $row.hasClass('selected');
    if (hasClass) {
        $row.removeClass('selected')
    } else {
        $row.addClass('selected')
    }
    })
    
    table.rows().every(function() {
    this.nodes().to$().removeClass('selected')
    });
      
})(jQuery);  



function aktifkanKurikulum(el) {    
    if(el.checked){                
        $.ajax({
            url: `/adminpage/pendampingan/admin/kurikulum/${el.value}/active_checked_json/`,
            type: 'POST',        
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },        
            data: JSON.stringify({          
                "is_checked": true
            }),        
            dataType: 'json',
            contentType: 'application/json',
            success: function(response) {            
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    html: "Kurikulum aktif berhasil dirubah",
                    showConfirmButton: false,
                    timer: 1000
                });
            },
            error: function(xhr, status, error) {
                // Handle error
            }
        });          
    }else {
        console.log("masuk unchecked");        
    }
        
}

</script>

{% endblock %}